{% extends "base.html" %}

{% block content %}

<h1>Your Team Roster</h1>
<p>{{ team.name }} ({{ team.league.name }})</p>

<table class="table table-dark table-striped mt-4">
    <thead>
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Fantasy Score</th>
        </tr>
    </thead>
    <tbody>
        {% for r in roster %}
        <tr>
            <td>{{ r.player.full_name }}</td>
            <td>{{ r.player.position.code }}</td>
            <td>{{ r.player.fantasy_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
