{% extends "base.html" %}
{% block content %}

<h2>Edit Team Roster — {{ team.name }}</h2>

<div class="row mt-4">
    <div class="col-md-6">
        <h4>Current Roster</h4>
        <ul class="list-group">
            {% for r in roster %}
                <li class="list-group-item d-flex justify-content-between">
                    {{ r.player.full_name }} ({{ r.player.position.code }})

                    <form method="POST" style="margin:0;">
                        {% csrf_token %}
                        <input type="hidden" name="player_id" value="{{ r.player.id }}">
                        <input type="hidden" name="action" value="remove">
                        <button class="btn btn-danger btn-sm">Remove ❌</button>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item">No players yet.</li>
            {% endfor %}
        </ul>
    </div>


    <div class="col-md-6">
        <h4>Add Player</h4>
        <form method="POST">
            {% csrf_token %}
            <select name="player_id" class="form-control mb-2">
                {% for p in all_players %}
                    <option value="{{ p.id }}">{{ p.full_name }} ({{ p.position.code }})</option>
                {% endfor %}
            </select>

            <input type="hidden" name="action" value="add">
            <button class="btn btn-success w-100">Add Player ➕</button>
        </form>
    </div>
</div>

{% endblock %}
